<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>CC Gmail Plugin</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/style.css"> 
</head>
<body>
    <div class="container"> <!-- Wrapping content inside a container for consistent padding -->
        <h3 class="my-4">Plug-in to summarize all credit card transactions from Gmail</h3> <!-- Centered text -->
        <div class="row">
            <div class="col-md-8 col-lg-6 mx-auto">
                <div class="embed-responsive embed-responsive-16by9 mb-4"> <!-- Added margin bottom -->
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/iSYperX9Uyw" allowfullscreen></iframe>
                </div>
            </div>
        </div>
        
        <p class="mb-4"> <!-- Added margin bottom -->
            Complete plug-in was created with the help of ChatGPT. 
       </p>
    </div>
    <div class="back-button"> <!-- Moved outside the container for absolute positioning -->
        <button onclick="goBack()" class="btn btn-primary">Go Back</button>
    </div>
    
    <!-- Optional JavaScript and Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.9/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script>
        function goBack() {
            window.history.back();
        }
    </script>
</body>
</html>
