<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"> 
    <title>Gen AI Tools</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/style.css"> 
</head>
<body>
    <div class="container"> <!-- Wrapping content inside a container for consistent padding -->
        <h3 class="my-4">Using Heygen to create a Spanish Video</h3> <!-- Centered text -->
        <div class="row">
            <div class="col-md-8 col-lg-6 mx-auto">
                <div class="embed-responsive embed-responsive-16by9 mb-4"> <!-- Added margin bottom -->
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/wRNAypSOz5s" allowfullscreen></iframe>
                </div>
            </div>
        </div>
        
        <p class="mb-4 text-center"> <!-- Added margin bottom -->
           Video created using Heygen <br><br><br>
        </p>
    </div>

    <div class="container"> <!-- Wrapping content inside a container for consistent padding -->
        <h3 class="my-4">Create videos in bulk</h3> <!-- Centered text -->
        <div class="row">
            <div class="col-md-8 col-lg-6 mx-auto">
                <div class="embed-responsive embed-responsive-16by9 mb-4"> <!-- Added margin bottom -->
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/LalXfxlQSIU" allowfullscreen></iframe>
                </div>
            </div>
        </div>
        
        <p class="mb-4"> <!-- Added margin bottom -->
            1. Created a csv of questions/ answer pairs (Can also use ChatGPT or other LLMs) <br>
            2. Created a slide template in Canva<br>
            3. Imported csv in Canva<br>
            4. Canva helps creates slides in bulk (Each ques ans pair gets added to one slide automatically)<br>
            5. Used Python for text to speech (TTS library) to generate audio stream of questions<br>
            6. Merge using a Video editor (Syncing needs manual effort)<br><br><br><br>
            
        </p>
    </div>

    <div class="back-button"> <!-- Moved outside the container for absolute positioning -->
        <button onclick="goBack()" class="btn btn-primary">Go Back</button>
    </div>
    
    <!-- Optional JavaScript and Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.9/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script>
        function goBack() {
            window.history.back();
        }
    </script>
</body>
</html>
