<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"> 
    <title>Speech Translation</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<script>
    function showLoading() {
        document.getElementById('loadingMessage').style.display = 'block';
    }
    </script>
<body>
    <div id="loadingMessage" style="display: none;">
        <p>Processing your request, please wait...</p>
    </div>
    <div class="container mt-5">
        <h1>Speech Translation</h1>
        <form action="/speech-translate" method="post" enctype="multipart/form-data" onsubmit="showLoading()">
            <div class="form-group">
                <label for="file">Upload mp3/mp4 file. Pls wait as audio extraction and translation could take 1-2 min depending on length. Keep files less than 10 min.</label>
                <input type="file" class="form-control-file" name="file" id="file" required>
            </div>
            <div class="form-group">
                <label for="target_language">Select Target Language:</label>
                <select class="form-control" name="target_language" id="target_language">
                    {% for code, language in languages.items() %}
                    <option value="{{ code }}">{{ language }}</option>
                    {% endfor %}
                </select>
            </div>
            <button type="submit" class="btn btn-primary">Translate</button>
        </form>
        
        {% if transcription %}
        <div class="results mt-4">
            <h2>Transcription:</h2>
            <p>{{ transcription }}</p>

            <h2>Translation ({{ language }}):</h2>
            <p>{{ translation }}</p>
        </div>
        {% endif %}
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.9/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
